/*Parte do Body*/
body, ul{
    margin:0px;
    padding: 0px;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background: #5357ca;
}

#logo{
    width: 180px;
    height: 180px;
    float: left;
    margin: 1px black;
    background: url(./horizontal_on_white_by_logaster.png) center center/180px no-repeat;
    font-size: 0;
}

#header{
    display: flex;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background: none;
}

#menu{
    display: flex;
    list-style: none;
    gap: .8rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

i{
    display: flex;
}

/*Estilizando a Div Lugares*/
.lugares{
    position: relative;
    padding-top: 4.8%;
}

.lugares h2{
    font-size: 22px;
    line-height: 1.2;
    position: relative;
    max-width: 638px;
    margin: 0 auto 10px auto;
}
.topo h1{
    position: relative;
    max-width: 638px;
    margin: 30px auto 40px auto;
    font-size: 28px;
    line-height: 1.12;
    text-align: center;
    color: black;
}
.topo p{
    max-width: 638px;
    margin: 0 auto 25px auto;
    font-size: 18px;
    line-height: 24px;

}

h2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.lugares p{
    max-width: 638px;
    margin: 0 auto 25px auto;
}
.figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
@media(min-width: 768px){
    .lugares figure{
        margin-bottom: 50px;
    }
}

/* Media*/
@media(max-width: 702px){
    #btn-mobile{
        display: block;
}

@media(max-width: 702px) and (min-width: 50px){

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        
    }
    #menu a{
        padding: 0.5rem 0;
        margin: 0 0.5rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
}
#btn-mobile{
    display: flex;
    padding: .3rem 0.5rem;
    font-size: 1rem;
    border:none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}
#hamburguer{
    border-top: 2px solid;
    width: 20px;
}
#hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position:relative;
}
#nav.active #hamburguer{
    border-top-color: transparent;
}
#nav.active #hamburguer::before{
    transform: rotate(135deg);
}
#nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}

/*Parte do form*/
#titulo{
    font-family: sans-serif;
    color: black;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: black;
    margin-left: 10%;
}